{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col">
            <h1>Hola mundo</h1>
        </div>
        <div class="col">
            <img src="assets/img/bad-bunny.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}